body,
      input,
      select,
      textarea,
      .topbar,
      .topbar a,
      .page-header .sub-title,
      .testimonials .testimonial-quote {
        font-family: 'Roboto';
        font-weight: 400;
      }

      .block-posts .widget-title a,
      .panel-group .accordion-toggle {
        font-family: 'Roboto';
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .jumbotron.carousel .carousel-text .carousel-heading-tag,
      .testimonials .testimonial-person .testimonial-author,
      .filterable-gallery .captions-below .grid-item .caption,
      .dropcap-wrap .dropcap-title,
      .counter .count-number,
      .counter .count-before,
      .counter .count-after,
      .comment-list .comment-header .author-link {
        font-family: 'Roboto Slab';
        font-weight: 700;
      }

      .content .custom-title span.light,
      .content .widget-title span.light {
        font-weight: normal;
      }

      .main-navigation>li>a {
        font-family: 'Roboto';
        font-weight: 700;
      }

      @media (min-width: 992px) {
        .main-navigation>li>a {
          font-size: 17px;
        }
      }

      .main-navigation li .sub-menu li a {
        font-family: 'Roboto';
        font-weight: 700;
      }

      @media (min-width: 992px) {
        .main-navigation li .sub-menu li a {
          font-size: 14px;
        }
      }

      button,
      .btn,
      input[type='submit'] {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 13px;
      }

      .footer .widget-title {
        font-size: 20px;
      }

      .header .navbar-brand img {
        width: 200px;
      }

      @media (max-width: 991px) {

        .navbar-toggle,
        .navbar-toggle:hover {
          background-color: #9ab643;
        }

        .navbar-toggle .navbar-toggle-text {
          color: #fff;
        }

        .navbar-toggle .icon-bar {
          background-color: #fff;
        }

        .main-navigation .nav-toggle-mobile-submenu {
          color: #fff;
          background-color: transparent;
        }

        .main-navigation>li.nav-toggle-dropdown .nav-toggle-mobile-submenu {
          background-color: #9ab643;
        }

        .main-navigation li a {
          color: #fff;
          border-color: #acca50;
          background-color: #a2c046;
        }

        .main-navigation>li.current-menu-item>a {
          color: transparent;
          background-color: transparent;
        }

        .main-navigation li .sub-menu li a {
          color: #fff;
          background-color: #9ab643;
        }

        .main-navigation .sub-menu>li.current-menu-item>a,
        .main-navigation .sub-menu>li.current_page_parent>a {
          color: transparent;
          background-color: transparent;
        }

        .header {
          background-color: #fff;
        }
      }

      .topbar {
        color: #7d7d7d;
        background-color: #3a3a3a;
      }

      .topbar a,
      .topbar .menu>li>a {
        color: #7d7d7d;
      }

      .topbar a:hover,
      .topbar .menu>li>a:hover {
        color: #fff;
      }

      .topbar a.icon-box,
      .topbar a.icon-box:hover {
        color: #7d7d7d;
      }

      .topbar i,
      .topbar .widget-icon-box i,
      .topbar .widget-social-icons a {
        color: #7d7d7d;
      }

      .topbar i:hover,
      .topbar .widget-icon-box:hover i,
      .topbar .widget-social-icons a:hover {
        color: #b0b0b0;
      }

      .navigation {
        background-color: #fff;
      }

      .main-navigation,
      .header.header-wide .main-navigation::after {
        background-color: #a2c046;
      }

      @media (min-width: 992px) {
        .main-navigation li a {
          color: #fff;
        }
      }

      .main-navigation li:hover a,
      .main-navigation li.menu-item-has-children:hover::after {
        color: #fff;
      }

      .main-navigation>li>a::before {
        background-color: #c8dd89;
      }

      @media (min-width: 992px) {
        .main-navigation li .sub-menu li a {
          color: #999999;
          background-color: #434343;
        }

        .main-navigation li .sub-menu li:hover>a {
          color: #fdfdfd;
          background-color: #3a3a3a;
          border-bottom-color: #3a3a3a;
        }

        .main-navigation>li:hover>a::after,
        .main-navigation>li.current-menu-item>a::after,
        .main-navigation>li.current_page_parent>a::after {
          background-color: #bbd95f;
        }
      }

      @media (min-width: 992px) {
        .header {
          background-color: #3a3a3a;
        }

        .main-navigation::before {
          border-color: transparent transparent transparent #fff;
        }
      }

      .page-header {
        text-align: left;
        background-color: #f2f2f2;
        background-image: url('../images/leafs_white.png');
        background-position: left center;
        background-repeat: repeat;
        background-size: auto;
      }

      .page-header .main-title {
        color: #333;
      }

      .page-header .sub-title {
        color: #999;
      }

      .breadcrumbs {
        text-align: left;
        background-color: #fff;
      }

      .breadcrumbs a {
        color: #a5a5a5;
      }

      .breadcrumbs a:hover {
        color: #9b9b9b;
      }

      .breadcrumbs span>span,
      .breadcrumbs .last {
        color: #a2c046;
      }

      a,
      .dropcap,
      .post-item .title>a:hover,
      .testimonials .testimonial .author-location,
      .post .post-left-meta .box.date .day,
      .post-inner .post-left-meta .box.date .day,
      .post .post-title a:hover,
      .post-inner .post-meta-data a:hover,
      .w-footer .icon-box i,
      .content .icon-box i.opening-times ul li.today,
      .wpcf7 span,
      .testimonials .testimonial-person .testimonial-location,
      .filterable-gallery .captions-below .grid-item .grid-terms,
      .panel-group .accordion-toggle::before,
      .wp-block-quote cite,
      .wp-block-quote footer,
      .wp-block-quote__citation,
      .has-text-color.has-theme-primary-color {
        color: #a2c046;
      }

      .content .icon-box svg {
        fill: #a2c046;
      }

      .jumbotron.carousel .carousel-topheading {
        color: #d6f47a;
      }

      a:hover,
      a:focus,
      a:active,
      .w-footer .icon-box:hover i,
      .content .icon-box:hover i {
        color: #98b63c;
      }

      .content .icon-box:hover svg {
        fill: #98b63c;
      }

      .topbar .menu .sub-menu>li>a,
      .counter.count-box .count-icon,
      .carousel-indicators li.active,
      table thead th,
      .qt-table thead td,
      .opening-times ul span.right.label,
      .social-icons a,
      .post-item .label-wrap .label,
      .has-background.has-theme-primary-color,
      .team-member-social .overlay-center a:hover,
      .filterable-gallery__filter ul li:hover,
      .filterable-gallery__filter ul li.active,
      .filterable-gallery .grid-lightbox-button {
        background-color: #a2c046;
      }

      .wpcf7 .wpcf7-checkbox input[type='checkbox']:checked,
      .wpcf7 .wpcf7-checkbox input[type='radio']:checked,
      .wpcf7 .wpcf7-radio input[type='checkbox']:checked,
      .wpcf7 .wpcf7-radio input[type='radio']:checked,
      .wpcf7 .wpcf7-acceptance input[type='checkbox']:checked,
      .wpcf7 .wpcf7-acceptance input[type='radio']:checked {
        border-color: #a2c046;
        background-color: #a2c046;
      }

      .client-logos img:hover,
      .cta-button:hover,
      .brochure-box:hover,
      .wpcf7-text:focus,
      .wpcf7-textarea:focus,
      .brand-border:hover,
      .comment-form input:not([type='submit']):focus,
      .comment-form textarea:focus {
        border-color: #a2c046;
      }

      .post-item .label-wrap .label::after,
      .counter.count-box .count-icon::after {
        border-top-color: #a2c046;
      }

      .social-icons a:hover,
      .post-item .label-wrap .label:hover,
      .counter.count-box:hover .count-icon,
      .filterable-gallery .grid-lightbox-button:hover {
        background-color: #98b63c;
      }

      .post-item .label-wrap .label:hover::after,
      .counter.count-box:hover .count-icon::after {
        border-top-color: #98b63c;
      }

      button,
      input[type='button'],
      input[type='reset'],
      input[type='submit'],
      .btn-primary,
      .wpcf7-submit,
      .wpcf7 .wpcf7-checkbox .wpcf7-list-item,
      .jumbotron .carousel-indicators li.active,
      .post-item .vertical-center span,
      .testimonials .testimonial-control,
      .cta-button,
      .brochure-box,
      .project-navigation a,
      .projects-carousel-control,
      .filterable-gallery .grid-post-button,
      .pagination a.current,
      .pagination span.current,
      .content .widget.widget_nav_menu .menu li.current-menu-item a,
      .content .widget.widget_nav_menu .menu li a:hover,
      .panel-group .panel .panel-heading .accordion-toggle[aria-expanded='true'],
      .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background),
      .wp-block-search .wp-block-search__button {
        color: #fff;
        background-color: #a2c046;
      }

      .has-background.has-theme-button-color {
        background-color: #a2c046;
      }

      .has-text.has-theme-button-color {
        color: #a2c046;
      }

      button:hover,
      input[type='button']:hover,
      input[type='reset']:hover,
      input[type='submit']:hover,
      .btn-primary:hover,
      .wpcf7-submit:hover,
      .wpcf7 .wpcf7-checkbox .wpcf7-list-item:hover,
      .post-item .vertical-center span:hover,
      .testimonials .testimonial-control:hover,
      .project-navigation a:hover,
      .projects-carousel-control:hover,
      .filterable-gallery .grid-post-button:hover,
      .pagination a:hover,
      .project-navigation a:focus,
      .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background):hover,
      .wp-block-search .wp-block-search__button:hover {
        color: #fff;
        background-color: #98b63c;
      }

      .pagination a:hover,
      .wpcf7-checkbox .wpcf7-list-item {
        border-color: #98b63c;
      }

      body,
      .has-text.has-theme-text-color {
        color: #9a9a9a;
      }

      .has-background.has-theme-text-color {
        background-color: #9a9a9a;
      }

      .widget-title {
        color: #9fc612;
      }

      .has-text.has-theme-title-color,
      .content .widget-title span.light {
        color: #464646;
      }

      .has-background.has-theme-title-color {
        color: #464646;
      }

      .pagination,
      .project-navigation {
        border-top-style: dashed;
      }

      .content .widget-title,
      .content .custom-title,
      .post-meta-data,
      .wpcf7 .wpcf7-checkbox .wpcf7-list-item:not(:last-child) {
        border-bottom-style: dashed;
      }

      body .the-landscaper-home .eg-the-landscaper-home-element-2,
      body .the-landscaper-home .eg-the-landscaper-home-element-4,
      body .the-landscaper .esg-filterbutton,
      body .the-landscaper .esg-sortbutton,
      body .the-landscaper .esg-cartbutton {
        font-family: Roboto;
      }

      body .the-landscaper-home .eg-the-landscaper-home-element-0 {
        font-family: Roboto Slab;
      }

      body .the-landscaper-home .eg-the-landscaper-home-element-2 {
        background-color: #a2c046;
      }

      body .the-landscaper-home .eg-the-landscaper-home-element-2:hover {
        background-color: #98b63c;
      }

      body .the-landscaper-home .eg-the-landscaper-home-element-4 {
        color: #a2c046;
      }

      body .the-landscaper-home .esg-navigationbutton {
        background-color: #a2c046;
      }

      body .the-landscaper-home .esg-navigationbutton:hover {
        background-color: #98b63c;
      }

      body .the-landscaper-home .esg-navigationbutton.esg-left::before,
      body .the-landscaper-home .esg-navigationbutton.esg-right:before {
        border-color: #a2c046;
      }

      body .the-landscaper-home .esg-navigationbutton:hover.esg-left::before,
      body .the-landscaper-home .esg-navigationbutton:hover.esg-right:before {
        border-color: #98b63c;
      }

      body .the-landscaper .eg-the-landscaper-element-30 {
        background-color: #a2c046;
      }

      body .the-landscaper .eg-the-landscaper-element-30:hover {
        background-color: #98b63c;
      }

      body .the-landscaper .eg-the-landscaper-lightbox-element-31 {
        background-color: #a2c046;
      }

      body .the-landscaper .eg-the-landscaper-lightbox-element-31:hover {
        background-color: #98b63c;
      }

      body .the-landscaper .esg-filterbutton.selected,
      body .the-landscaper .esg-filterbutton:hover {
        border-color: #a2c046;
        background-color: #a2c046;
      }

      body .the-landscaper .eg-the-landscaper-element-24 {
        font-family: Roboto Slab;
      }

      .main-footer {
        background-color: #333333;
        background-position: left center;
        background-repeat: repeat;
        background-size: auto;
        background-image: url('wp-content/uploads/sites/2/2020/04/leafs_dark.png');
      }

      .main-footer,
      .main-footer p {
        color: #757575;
      }

      .main-footer a:not(.btn, .social-icons a),
      .main-footer .widget_nav_menu ul>li>a {
        color: #757575;
      }

      .main-footer a:not(.btn, .social-icons a):hover,
      .main-footer .widget_nav_menu ul>li>a:hover {
        color: #fff;
      }

      .footer .widget-title {
        color: #fff;
      }

      .bottom-footer {
        background-color: #292929;
      }

      .bottom-footer p {
        color: #777;
      }

      .bottom-footer a {
        color: #e4e4e4;
      }

      .bottom-footer a:hover {
        color: #ffffff;
      }

      .layout-boxed {
        background-color: #fff;
      }

      .woocommerce-page div.product p.price,
      .woocommerce .star-rating span::before,
      .woocommerce ul.products li.product .woocommerce-loop-category__title:hover,
      .woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
      .woocommerce ul.products li.product.product h3:hover,
      body.woocommerce-page .woocommerce-error:before,
      body.woocommerce-page .woocommerce-info:before,
      body.woocommerce-page .woocommerce-message:before {
        color: #a2c046;
      }

      .woocommerce form .form-row input.input-text:active,
      .woocommerce form .form-row input.input-text:focus,
      .woocommerce form .form-row textarea:active,
      .woocommerce form .form-row textarea:focus {
        border-color: #a2c046;
      }

      .woocommerce div.product div.images img:hover,
      .woocommerce ul.products li.product a:hover img {
        outline-color: #a2c046;
      }

      .woocommerce-MyAccount-navigation ul li.is-active a,
      .woocommerce-MyAccount-navigation ul li a:hover,
      is-active.woocommerce span.onsale,
      .woocommerce ul.products li.product .onsale {
        background-color: #a2c046;
      }

      .woocommerce a.button,
      .woocommerce input.button,
      .woocommerce input.button.alt,
      .woocommerce button.button,
      .woocommerce button.button.alt,
      .woocommerce #respond input#submit,
      .woocommerce nav.woocommerce-pagination ul li span.current,
      .woocommerce-page div.product form.cart .button.single_add_to_cart_button,
      .woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
      .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
        color: #fff;
        border-radius: 1px;
        background-color: #a2c046;
      }

      .woocommerce a.button:hover,
      .woocommerce input.button:hover,
      .woocommerce input.button.alt:hover,
      .woocommerce button.button:hover,
      .woocommerce button.button.alt:hover,
      .woocommerce-page div.product form.cart .button.single_add_to_cart_button:hover,
      .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
      .woocommerce nav.woocommerce-pagination ul li a:hover,
      .woocommerce nav.woocommerce-pagination ul li a:focus,
      body.woocommerce-page .woocommerce-error a.button:hover,
      body.woocommerce-page .woocommerce-info a.button:hover,
      body.woocommerce-page .woocommerce-message a.button:hover,
      before.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
      .woocommerce .widget_product_categories .product-categories li a:hover {
        color: #fff;
        background-color: #98b63c;
      }

      .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
      .woocommerce .widget_product_categories .product-categories li a {
        color: #fff;
        background-color: #a2c046;
      }

      .woocommerce .widget_product_categories .product-categories li a {
        border-color: #98b63c;
      }

      .woocommerce-page .product .summary.entry-summary p.price {
        border-bottom-style: dashed;
      }

      .woocommerce-pagination {
        border-top-style: dashed;
      }

      .comment-reply-title,
      .woocommerce #reviews #comments ol.commentlist li .comment-text p {
        font-family: Roboto Slab;
      }
   
    .woocommerce-product-gallery {
        opacity: 1 !important;
    }
  
      /* Layout 11 */
      #pgc-11-0-0 {
        width: 33.3%;
        width: calc(33.3% - (0.66699999999967 * 30px))
      }

      #pgc-11-0-1,
      #pgc-11-0-2,
      #pgc-11-0-3 {
        width: 22.2333%;
        width: calc(22.2333% - (0.77766666666678 * 30px))
      }

      #pg-11-0,
      #pg-11-1,
      #pg-11-7 {
        margin-bottom: 60px
      }

      #pgc-11-1-0,
      #pgc-11-3-0,
      #pgc-11-5-0,
      #pgc-11-6-0,
      #pgc-11-7-0,
      #pgc-11-8-0,
      #pgc-11-10-0 {
        width: 100%;
        width: calc(100% - (0 * 30px))
      }

      #pgc-11-2-0,
      #pgc-11-2-1 {
        width: 50%;
        width: calc(50% - (0.5 * 30px))
      }

      #pg-11-2 {
        margin-bottom: 45px
      }

      #pg-11-3 {
        margin-bottom: 15px
      }

      #pgc-11-4-0,
      #pgc-11-4-1,
      #pgc-11-4-2 {
        width: 33.3333%;
        width: calc(33.3333% - (0.66666666666667 * 30px))
      }

      #pg-11-4 {
        margin-bottom: 70px
      }

      #pg-11-5,
      #pg-11-6,
      #pg-11-10,
      #pl-11 .so-panel:last-of-type {
        margin-bottom: 0px
      }

      #pg-11-8,
      #pl-11 .so-panel {
        margin-bottom: 30px
      }

      #pgc-11-9-0,
      #pgc-11-9-1,
      #pgc-11-9-2,
      #pgc-11-9-3,
      #pgc-11-9-4,
      #pgc-11-9-5 {
        width: 16.6667%;
        width: calc(16.6667% - (0.83333333333333 * 30px))
      }

      #pg-11-9 {
        margin-bottom: 90px
      }

      #pg-11-0.panel-has-style>.panel-row-style,
      #pg-11-0.panel-no-style,
      #pg-11-1.panel-has-style>.panel-row-style,
      #pg-11-1.panel-no-style,
      #pg-11-5.panel-has-style>.panel-row-style,
      #pg-11-5.panel-no-style,
      #pg-11-7.panel-has-style>.panel-row-style,
      #pg-11-7.panel-no-style,
      #pg-11-8.panel-has-style>.panel-row-style,
      #pg-11-8.panel-no-style,
      #pg-11-9.panel-has-style>.panel-row-style,
      #pg-11-9.panel-no-style,
      #pg-11-10.panel-has-style>.panel-row-style,
      #pg-11-10.panel-no-style {
        -webkit-align-items: flex-start;
        align-items: flex-start
      }

      #pg-11-1>.panel-row-style {
        background-image: url(../images/leafs_dark.png);
        background-repeat: repeat;
        padding: 55px 0px 55px 0px
      }

      #pg-11-4.panel-has-style>.panel-row-style,
      #pg-11-4.panel-no-style {
        -webkit-align-items: stretch;
        align-items: stretch
      }

      #pg-11-5>.panel-row-style {
        background-image: url(../images/call-to-action.jpg);
        background-position: center center;
        background-size: cover;
        padding: 60px 0px 60px 0px
      }

      #pg-11-6>.panel-row-style {
        background-image: url(../images/news_pattern.png);
        background-repeat: repeat;
        padding: 60px
      }

      #pg-11-7>.panel-row-style {
        background-image: url(../images/leafs.png);
        background-repeat: repeat;
        padding: 75px
      }

      @media (max-width:768px) {

        #pg-11-0.panel-no-style,
        #pg-11-0.panel-has-style>.panel-row-style,
        #pg-11-0,
        #pg-11-1.panel-no-style,
        #pg-11-1.panel-has-style>.panel-row-style,
        #pg-11-1,
        #pg-11-2.panel-no-style,
        #pg-11-2.panel-has-style>.panel-row-style,
        #pg-11-2,
        #pg-11-3.panel-no-style,
        #pg-11-3.panel-has-style>.panel-row-style,
        #pg-11-3,
        #pg-11-4.panel-no-style,
        #pg-11-4.panel-has-style>.panel-row-style,
        #pg-11-4,
        #pg-11-5.panel-no-style,
        #pg-11-5.panel-has-style>.panel-row-style,
        #pg-11-5,
        #pg-11-6.panel-no-style,
        #pg-11-6.panel-has-style>.panel-row-style,
        #pg-11-6,
        #pg-11-7.panel-no-style,
        #pg-11-7.panel-has-style>.panel-row-style,
        #pg-11-7,
        #pg-11-8.panel-no-style,
        #pg-11-8.panel-has-style>.panel-row-style,
        #pg-11-8,
        #pg-11-9.panel-no-style,
        #pg-11-9.panel-has-style>.panel-row-style,
        #pg-11-9,
        #pg-11-10.panel-no-style,
        #pg-11-10.panel-has-style>.panel-row-style,
        #pg-11-10 {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column
        }

        #pg-11-0>.panel-grid-cell,
        #pg-11-0>.panel-row-style>.panel-grid-cell,
        #pg-11-1>.panel-grid-cell,
        #pg-11-1>.panel-row-style>.panel-grid-cell,
        #pg-11-2>.panel-grid-cell,
        #pg-11-2>.panel-row-style>.panel-grid-cell,
        #pg-11-3>.panel-grid-cell,
        #pg-11-3>.panel-row-style>.panel-grid-cell,
        #pg-11-4>.panel-grid-cell,
        #pg-11-4>.panel-row-style>.panel-grid-cell,
        #pg-11-5>.panel-grid-cell,
        #pg-11-5>.panel-row-style>.panel-grid-cell,
        #pg-11-6>.panel-grid-cell,
        #pg-11-6>.panel-row-style>.panel-grid-cell,
        #pg-11-7>.panel-grid-cell,
        #pg-11-7>.panel-row-style>.panel-grid-cell,
        #pg-11-8>.panel-grid-cell,
        #pg-11-8>.panel-row-style>.panel-grid-cell,
        #pg-11-9>.panel-grid-cell,
        #pg-11-9>.panel-row-style>.panel-grid-cell,
        #pg-11-10>.panel-grid-cell,
        #pg-11-10>.panel-row-style>.panel-grid-cell {
          width: 100%;
          margin-right: 0
        }

        #pgc-11-0-0,
        #pgc-11-0-1,
        #pgc-11-0-2,
        #pgc-11-2-0,
        #pgc-11-4-0,
        #pgc-11-4-1,
        #pgc-11-9-0,
        #pgc-11-9-1,
        #pgc-11-9-2,
        #pgc-11-9-3,
        #pgc-11-9-4 {
          margin-bottom: 30px
        }

        #pl-11 .panel-grid-cell {
          padding: 0
        }

        #pl-11 .panel-grid .panel-grid-cell-empty {
          display: none
        }

        #pl-11 .panel-grid .panel-grid-cell-mobile-last {
          margin-bottom: 0px
        }

        #pg-11-5>.panel-row-style {
          padding: 25px 40px 25px 40px
        }
      }

      /* Layout 673 */
      #pgc-673-0-0,
      #pgc-673-0-1,
      #pgc-673-2-0,
      #pgc-673-2-1 {
        width: 50%;
        width: calc(50% - (0.5 * 30px))
      }

      #pg-673-0,
      #pl-673 .so-panel {
        margin-bottom: 30px
      }

      #pgc-673-1-0,
      #pgc-673-3-0 {
        width: 100%;
        width: calc(100% - (0 * 30px))
      }

      #pg-673-1 {
        margin-bottom: 40px
      }

      #pg-673-2,
      #pg-673-3 {
        margin-bottom: 50px
      }

      #pl-673 .so-panel:last-of-type {
        margin-bottom: 0px
      }

      #pg-673-3>.panel-row-style {
        background-image: url(../images/cta-bg.jpg);
        background-position: center center;
        background-size: cover
      }

      @media (max-width:768px) {

        #pg-673-0.panel-no-style,
        #pg-673-0.panel-has-style>.panel-row-style,
        #pg-673-0,
        #pg-673-1.panel-no-style,
        #pg-673-1.panel-has-style>.panel-row-style,
        #pg-673-1,
        #pg-673-2.panel-no-style,
        #pg-673-2.panel-has-style>.panel-row-style,
        #pg-673-2,
        #pg-673-3.panel-no-style,
        #pg-673-3.panel-has-style>.panel-row-style,
        #pg-673-3 {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column
        }

        #pg-673-0>.panel-grid-cell,
        #pg-673-0>.panel-row-style>.panel-grid-cell,
        #pg-673-1>.panel-grid-cell,
        #pg-673-1>.panel-row-style>.panel-grid-cell,
        #pg-673-2>.panel-grid-cell,
        #pg-673-2>.panel-row-style>.panel-grid-cell,
        #pg-673-3>.panel-grid-cell,
        #pg-673-3>.panel-row-style>.panel-grid-cell {
          width: 100%;
          margin-right: 0
        }

        #pgc-673-0-0,
        #pgc-673-2-0 {
          margin-bottom: 30px
        }

        #pl-673 .panel-grid-cell {
          padding: 0
        }

        #pl-673 .panel-grid .panel-grid-cell-empty {
          display: none
        }

        #pl-673 .panel-grid .panel-grid-cell-mobile-last {
          margin-bottom: 0px
        }
      }

      /* Layout 921 */
      #pgc-921-0-0,
      #pgc-921-0-1,
      #pgc-921-0-2,
      #pgc-921-1-0,
      #pgc-921-1-1,
      #pgc-921-1-2 {
        width: 33.3333%;
        width: calc(33.3333% - (0.66666666666667 * 30px));
      }
      #pg-921-0 {
        margin-bottom: 50px;
      }
      #pg-921-1 {
        margin-bottom: 70px;
      }
      #pgc-921-2-0 {
        width: 100%;
        width: calc(100% - (0 * 30px));
      }
      #pl-921 .so-panel {
        margin-bottom: 30px;
      }
      #pl-921 .so-panel:last-of-type {
        margin-bottom: 0px;
      }
      #pg-921-2 > .panel-row-style {
        background-image: url(../images/cta-bg.jpg);
        background-position: center center;
        background-size: cover;
        padding: 7px 0px 7px 0px;
        margin: 0 0 -60px 0;
      }
      #pg-921-2.panel-has-style > .panel-row-style,
      #pg-921-2.panel-no-style {
        -webkit-align-items: flex-start;
        align-items: flex-start;
      }
      @media (max-width: 768px) {
        #pg-921-0.panel-no-style,
        #pg-921-0.panel-has-style > .panel-row-style,
        #pg-921-0,
        #pg-921-1.panel-no-style,
        #pg-921-1.panel-has-style > .panel-row-style,
        #pg-921-1,
        #pg-921-2.panel-no-style,
        #pg-921-2.panel-has-style > .panel-row-style,
        #pg-921-2 {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }
        #pg-921-0 > .panel-grid-cell,
        #pg-921-0 > .panel-row-style > .panel-grid-cell,
        #pg-921-1 > .panel-grid-cell,
        #pg-921-1 > .panel-row-style > .panel-grid-cell,
        #pg-921-2 > .panel-grid-cell,
        #pg-921-2 > .panel-row-style > .panel-grid-cell {
          width: 100%;
          margin-right: 0;
        }
        #pgc-921-0-0,
        #pgc-921-0-1,
        #pgc-921-1-0,
        #pgc-921-1-1 {
          margin-bottom: 30px;
        }
        #pl-921 .panel-grid-cell {
          padding: 0;
        }
        #pl-921 .panel-grid .panel-grid-cell-empty {
          display: none;
        }
        #pl-921 .panel-grid .panel-grid-cell-mobile-last {
          margin-bottom: 0px;
        }
      }

      /* Layout 5905 */
      #pgc-5905-0-0 {
        width: 100%;
        width: calc(100% - (0 * 30px));
      }
      #pl-5905 .so-panel {
        margin-bottom: 30px;
      }
      #pl-5905 .so-panel:last-of-type {
        margin-bottom: 0px;
      }
      @media (max-width: 768px) {
        #pg-5905-0.panel-no-style,
        #pg-5905-0.panel-has-style > .panel-row-style,
        #pg-5905-0 {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }
        #pg-5905-0 > .panel-grid-cell,
        #pg-5905-0 > .panel-row-style > .panel-grid-cell {
          width: 100%;
          margin-right: 0;
        }
        #pl-5905 .panel-grid-cell {
          padding: 0;
        }
        #pl-5905 .panel-grid .panel-grid-cell-empty {
          display: none;
        }
        #pl-5905 .panel-grid .panel-grid-cell-mobile-last {
          margin-bottom: 0px;
        }
      }

      /* Layout 227 */
      #pgc-227-0-0 {
        width: 69%;
        width: calc(69% - (0.31 * 30px))
      }

      #pgc-227-0-1 {
        width: 31%;
        width: calc(31% - (0.69 * 30px))
      }

      #pg-227-0 {
        margin-bottom: 60px
      }

      #pgc-227-1-0 {
        width: 100%;
        width: calc(100% - (0 * 30px))
      }

      #pl-227 .so-panel {
        margin-bottom: 30px
      }

      #pl-227 .so-panel:last-of-type {
        margin-bottom: 0px
      }

      #pg-227-1>.panel-row-style {
        margin-bottom: -60px
      }

      @media (max-width:768px) {

        #pg-227-0.panel-no-style,
        #pg-227-0.panel-has-style>.panel-row-style,
        #pg-227-0,
        #pg-227-1.panel-no-style,
        #pg-227-1.panel-has-style>.panel-row-style,
        #pg-227-1 {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column
        }

        #pg-227-0>.panel-grid-cell,
        #pg-227-0>.panel-row-style>.panel-grid-cell,
        #pg-227-1>.panel-grid-cell,
        #pg-227-1>.panel-row-style>.panel-grid-cell {
          width: 100%;
          margin-right: 0
        }

        #pgc-227-0-0 {
          margin-bottom: 30px
        }

        #pl-227 .panel-grid-cell {
          padding: 0
        }

        #pl-227 .panel-grid .panel-grid-cell-empty {
          display: none
        }

        #pl-227 .panel-grid .panel-grid-cell-mobile-last {
          margin-bottom: 0px
        }
      }

       /* Layout 5268 */
      #pgc-5268-0-0 {
        width: 33.346%;
        width: calc(33.346% - (0.666539730896 * 40px))
      }

      #pl-5268 #panel-5268-0-0-1 {
        margin: 0px 0px 15px 0px
      }

      #pgc-5268-0-1 {
        width: 66.654%;
        width: calc(66.654% - (0.333460269104 * 40px))
      }

      #pg-5268-0 {
        margin-bottom: 50px
      }

      #pgc-5268-1-0 {
        width: 100%;
        width: calc(100% - (0 * 30px))
      }

      #pl-5268 .so-panel {
        margin-bottom: 30px
      }

      #pl-5268 .so-panel:last-of-type {
        margin-bottom: 0px
      }

      #pg-5268-1>.panel-row-style {
        margin-bottom: -60px
      }

      @media (max-width:768px) {

        #pg-5268-0.panel-no-style,
        #pg-5268-0.panel-has-style>.panel-row-style,
        #pg-5268-0,
        #pg-5268-1.panel-no-style,
        #pg-5268-1.panel-has-style>.panel-row-style,
        #pg-5268-1 {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column
        }

        #pg-5268-0>.panel-grid-cell,
        #pg-5268-0>.panel-row-style>.panel-grid-cell,
        #pg-5268-1>.panel-grid-cell,
        #pg-5268-1>.panel-row-style>.panel-grid-cell {
          width: 100%;
          margin-right: 0
        }

        #pgc-5268-0-0 {
          margin-bottom: 30px
        }

        #pl-5268 .panel-grid-cell {
          padding: 0
        }

        #pl-5268 .panel-grid .panel-grid-cell-empty {
          display: none
        }

        #pl-5268 .panel-grid .panel-grid-cell-mobile-last {
          margin-bottom: 0px
        }
      }

      /* Layout 181 */
      #pgc-181-0-0,
      #pgc-181-0-1 {
        width: 50%;
        width: calc(50% - (0.5 * 30px))
      }

      #pl-181 #panel-181-0-1-0 {
        margin: 15px 0px 0px 0px
      }

      #pg-181-0,
      #pg-181-3 {
        margin-bottom: 50px
      }

      #pgc-181-1-0,
      #pgc-181-1-1,
      #pgc-181-1-2 {
        width: 33.3333%;
        width: calc(33.3333% - (0.66666666666667 * 25px))
      }

      #pg-181-1,
      #pg-181-5 {
        margin-bottom: 60px
      }

      #pgc-181-2-0,
      #pgc-181-6-0 {
        width: 100%;
        width: calc(100% - (0 * 30px))
      }

      #pg-181-2 {
        margin-bottom: 5px
      }

      #pgc-181-3-0,
      #pgc-181-3-1,
      #pgc-181-3-2,
      #pgc-181-4-0,
      #pgc-181-4-1,
      #pgc-181-4-2 {
        width: 33.3333%;
        width: calc(33.3333% - (0.66666666666667 * 30px))
      }

      #pg-181-4 {
        margin-bottom: 80px
      }

      #pgc-181-5-0,
      #pgc-181-5-1,
      #pgc-181-5-2,
      #pgc-181-5-3 {
        width: 25%;
        width: calc(25% - (0.75 * 19px))
      }

      #pg-181-6 {
        margin-bottom: 25px
      }

      #pgc-181-7-0,
      #pgc-181-7-1,
      #pgc-181-7-2,
      #pgc-181-7-3,
      #pgc-181-7-4,
      #pgc-181-7-5 {
        width: 16.6667%;
        width: calc(16.6667% - (0.83333333333333 * 30px))
      }

      #pg-181-7 {
        margin-bottom: 20px
      }

      #pl-181 .so-panel {
        margin-bottom: 30px
      }

      #pl-181 .so-panel:last-of-type {
        margin-bottom: 0px
      }

      #pg-181-4.panel-has-style>.panel-row-style,
      #pg-181-4.panel-no-style,
      #pg-181-6.panel-has-style>.panel-row-style,
      #pg-181-6.panel-no-style,
      #pg-181-7.panel-has-style>.panel-row-style,
      #pg-181-7.panel-no-style {
        -webkit-align-items: flex-start;
        align-items: flex-start
      }

      #panel-181-4-2-0>.panel-widget-style {
        padding: 36px 40px 37px 40px
      }

      #pg-181-5>.panel-row-style {
        background-image: url(../wp-content/uploads/sites/2/2015/01/bg_image01.jpg);
        background-position: center center;
        background-size: cover;
        padding: 55px
      }

      @media (max-width:768px) {

        #pg-181-0.panel-no-style,
        #pg-181-0.panel-has-style>.panel-row-style,
        #pg-181-0,
        #pg-181-1.panel-no-style,
        #pg-181-1.panel-has-style>.panel-row-style,
        #pg-181-1,
        #pg-181-2.panel-no-style,
        #pg-181-2.panel-has-style>.panel-row-style,
        #pg-181-2,
        #pg-181-3.panel-no-style,
        #pg-181-3.panel-has-style>.panel-row-style,
        #pg-181-3,
        #pg-181-4.panel-no-style,
        #pg-181-4.panel-has-style>.panel-row-style,
        #pg-181-4,
        #pg-181-5.panel-no-style,
        #pg-181-5.panel-has-style>.panel-row-style,
        #pg-181-5,
        #pg-181-6.panel-no-style,
        #pg-181-6.panel-has-style>.panel-row-style,
        #pg-181-6,
        #pg-181-7.panel-no-style,
        #pg-181-7.panel-has-style>.panel-row-style,
        #pg-181-7 {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column
        }

        #pg-181-0>.panel-grid-cell,
        #pg-181-0>.panel-row-style>.panel-grid-cell,
        #pg-181-1>.panel-grid-cell,
        #pg-181-1>.panel-row-style>.panel-grid-cell,
        #pg-181-2>.panel-grid-cell,
        #pg-181-2>.panel-row-style>.panel-grid-cell,
        #pg-181-3>.panel-grid-cell,
        #pg-181-3>.panel-row-style>.panel-grid-cell,
        #pg-181-4>.panel-grid-cell,
        #pg-181-4>.panel-row-style>.panel-grid-cell,
        #pg-181-5>.panel-grid-cell,
        #pg-181-5>.panel-row-style>.panel-grid-cell,
        #pg-181-6>.panel-grid-cell,
        #pg-181-6>.panel-row-style>.panel-grid-cell,
        #pg-181-7>.panel-grid-cell,
        #pg-181-7>.panel-row-style>.panel-grid-cell {
          width: 100%;
          margin-right: 0
        }

        #pgc-181-0-0,
        #pgc-181-1-0,
        #pgc-181-1-1,
        #pgc-181-3-0,
        #pgc-181-3-1,
        #pgc-181-4-0,
        #pgc-181-4-1,
        #pgc-181-5-0,
        #pgc-181-5-1,
        #pgc-181-5-2,
        #pgc-181-7-0,
        #pgc-181-7-1,
        #pgc-181-7-2,
        #pgc-181-7-3,
        #pgc-181-7-4 {
          margin-bottom: 30px
        }

        #pl-181 .panel-grid-cell {
          padding: 0
        }

        #pl-181 .panel-grid .panel-grid-cell-empty {
          display: none
        }

        #pl-181 .panel-grid .panel-grid-cell-mobile-last {
          margin-bottom: 0px
        }
      }

      .page-header {
        text-align: center;
        background-image: url(../images/leafs.png);
        background-position-x: left;
        background-position-y: top;
        background-size: auto;
        background-attachment: scroll;
      }
